.cdnify-container {
    display: none;
}

.cdnify-container-active {
    display: block;
}

.cdnify-section {
    border-top: 1px solid #CCCCCC;
    margin-top: 40px;
}

.cdnify-form-error {
    border: 1px solid #dd3d36 !important;
}

.cdnify-description-error {
    color: #dd3d36 !important;
}

.cdnify-manage-column {
    width: 100px !important;
}